Repository highfive-digital/tarana_old: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["npm run lint", "npm run prettier"],
  "*.{json,md,yml}": "prettier --write"
}

Audio item, container & folder structure update
  src/components/AudioListItem.tsx
  src/components/SearchBar.tsx
  src/components/SectionHeader.tsx
  src/components/index.ts
  src/containers/AudioListContainer.tsx
  src/containers/PaddedView.tsx
  src/containers/ScreenContainer.tsx
  src/containers/SectionContainer.tsx
  src/containers/TileCardContainer.tsx
  src/containers/TileContainer.tsx
  src/containers/index.ts
  src/helpers/common.ts
  src/screens/Home.tsx
  src/screens/Search.tsx
Due: npm run lint, npm run prettier

updated packages to latest
  package.json
Due: prettier --write

update package to latest
  package.json
Due: prettier --write

update babel config
  babel.config.js
Due: none

add network module
  .env
  App.tsx
  env.d.ts
  package.json
  src/contexts/base.context.tsx
  src/helpers/hooks/useFetch.ts
  src/modules/network/endpoints.ts
  src/modules/network/http.ts
  src/modules/storage/storage.module.ts
  tsconfig.paths.json
Due: npm run lint, npm run prettier, prettier --write

use api endpoint to fetch radios
  src/components/MiniPlayer.tsx
  src/components/PlayerExtended.tsx
  src/components/Tile.tsx
  src/components/TileCard.tsx
  src/helpers/common.ts
  src/helpers/data.config.ts
  src/helpers/hooks/useFetch.ts
  src/modules/network/endpoints.ts
  src/modules/player/player.helper.ts
  src/modules/player/player.module.ts
  src/modules/player/player.types.ts
  src/screens/Home.tsx
  src/types/components.types.ts
Due: npm run lint, npm run prettier

intial search screen added
  src/assets/svgs/headphone.svg
  src/assets/svgs/index.ts
  src/assets/svgs/new.svg
  src/assets/svgs/recent_search.svg
  src/assets/svgs/trending.svg
  src/components/ActionCard.tsx
  src/components/AudioListItem.tsx
  src/components/Chip.tsx
  src/components/Chip/Chip.tsx
  src/components/SVGIcon.tsx
  src/components/SearchBar.tsx
  src/components/SectionHeader.tsx
  src/containers/ActionCardContainer.tsx
  src/containers/SectionContainer.tsx
  src/helpers/component.config.ts
  src/helpers/hooks/useFetch.ts
  src/modules/network/endpoints.ts
  src/screens/Home.tsx
  src/screens/Search.tsx
  src/types/components.types.ts
Due: npm run lint, npm run prettier

updates to UI
  src/assets/svgs/close.svg
  src/assets/svgs/history.svg
  src/assets/svgs/index.ts
  src/assets/svgs/recent_search.svg
  src/components/ActionCard.tsx
  src/components/MiniPlayer.tsx
  src/components/SInput/SInput.tsx
  src/components/SVGIcon.tsx
  src/components/SearchBar.tsx
  src/components/SectionHeader.tsx
  src/containers/TileContainer.tsx
  src/helpers/component.config.ts
  src/types/components.types.ts
Due: npm run lint, npm run prettier

updates to ui & and other changes
  package.json
  react-native.config.js
  src/assets/fonts/chesna/ChesnaGrotesk-Bold.ttf
  src/assets/fonts/chesna/ChesnaGrotesk-Medium.ttf
  src/assets/fonts/chesna/ChesnaGrotesk-Regular.ttf
  src/assets/fonts/chesna/ChesnaGrotesk-SemiBold.ttf
  src/assets/fonts/gilroy/Gilroy-Bold.ttf
  src/assets/fonts/gilroy/Gilroy-Medium.ttf
  src/assets/fonts/gilroy/Gilroy-Regular.ttf
  src/assets/fonts/gilroy/Gilroy-Semibold.ttf
  src/components/ActionCard.tsx
  src/components/AudioListItem.tsx
  src/components/SearchBar.tsx
  src/components/SectionHeader.tsx
  src/components/Tile.tsx
  src/components/TileCard.tsx
  src/components/TitleSubtitle.tsx
  src/containers/AudioListContainer.tsx
  src/containers/TileCardContainer.tsx
  src/helpers/component.config.ts
  src/modules/network/http.ts
  src/screens/Home.tsx
  src/styles/theme.ts
Due: npm run lint, npm run prettier, prettier --write

fix type issues
  .eslintrc.json
  package.json
  src/components/SearchBar.tsx
  src/components/TileCard.tsx
Due: npm run lint, npm run prettier, prettier --write

update packages
  package.json
Due: prettier --write

update player ui , search & loaders
  package.json
  src/components/ActionCard.tsx
  src/components/Loaders/AudioListItemLoader.tsx
  src/components/Loaders/SectionHeaderLoader.tsx
  src/components/Loaders/SectionLoader.tsx
  src/components/Loaders/TileLoader.tsx
  src/components/PlayerExtended.tsx
  src/components/PlayerSlider.tsx
  src/components/SearchBar.tsx
  src/containers/ActionCardContainer.tsx
  src/containers/ChipListContainer.tsx
  src/containers/LoaderContainer.tsx
  src/containers/ScreenContainer.tsx
  src/containers/SectionContainer.tsx
  src/helpers/common.ts
  src/helpers/hooks/useFetch.ts
  src/modules/network/http.ts
  src/modules/storage/storage.module.ts
  src/screens/Home.tsx
  src/screens/Search.tsx
Due: npm run lint, npm run prettier, prettier --write

use LoaderContainer in Section Loader
  src/components/Loaders/SectionLoader.tsx
Due: npm run lint, npm run prettier

updated ui
  src/components/AudioListItem.tsx
  src/components/Button.tsx
  src/components/Greetings.tsx
  src/components/Loaders/AudioListItemLoader.tsx
  src/components/Loaders/SectionHeaderLoader.tsx
  src/components/Loaders/SectionLoader.tsx
  src/components/PlayerSlider.tsx
  src/components/SView/SView.tsx
  src/components/SearchBar.tsx
  src/components/Skeleton.tsx
  src/containers/ChipListContainer.tsx
  src/containers/LoaderContainer.tsx
  src/containers/SectionContainer.tsx
  src/containers/TileContainer.tsx
  src/helpers/common.ts
  src/helpers/hooks/useChangeNotifier.hook.ts
  src/helpers/hooks/useListeners.hooks.ts
  src/helpers/notifier.ts
  src/navigation/BottomTabs.tsx
  src/screens/Home.tsx
  src/states/tab.ts
Due: npm run lint, npm run prettier

update packages
  package.json
  src/containers/ChipListContainer.tsx
  yarn.lock
Due: npm run lint, npm run prettier, prettier --write

add project files ios for fonts
  ios/tarana.xcodeproj/project.pbxproj
  ios/tarana/Info.plist
Due: none

add project files ios for fonts
  ios/link-assets-manifest.json
  ios/tarana.xcodeproj/project.pbxproj
  ios/tarana/Info.plist
Due: prettier --write
