Repository highfive-digital/tarana_old: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["npm run lint", "npm run prettier"],
  "*.{json,md,yml}": "prettier --write"
}

add fonts
  App.tsx
  package.json
  react-native.config.js
  src/styles/theme.ts
  src/types/components.types.ts
Due: npm run lint, npm run prettier, prettier --write

add missing font files
  src/assets/fonts/chesna/ChesnaGrotesk-Bold.ttf
  src/assets/fonts/chesna/ChesnaGrotesk-Medium.ttf
  src/assets/fonts/chesna/ChesnaGrotesk-Regular.ttf
  src/assets/fonts/chesna/ChesnaGrotesk-SemiBold.ttf
Due: none

added notifier and useListener hook
  .gitignore
  src/components/Image/SImage.tsx
  src/helpers/hooks/useListeners.hooks.ts
  src/helpers/notifier.ts
  src/helpers/validators.ts
Due: npm run lint, npm run prettier

update packages and minor fixes to SText
  App.tsx
  package.json
  src/components/SText/SText.tsx
Due: npm run lint, npm run prettier, prettier --write

initial navigation setup
  .gitignore
  App.tsx
  index.js
  package.json
  src/assets/images/nav-icons/home_active.png
  src/assets/images/nav-icons/home_inactive.png
  src/assets/images/nav-icons/podcast_active.png
  src/assets/images/nav-icons/podcast_inactive.png
  src/assets/images/nav-icons/search_inactive.png
  src/assets/images/nav-icons/settings_active.png
  src/assets/images/nav-icons/settings_inactive.png
  src/components/MiniPlayer.tsx
  src/components/PlayerSlider.tsx
  src/contexts/base.context.tsx
  src/helpers/hooks/useBottomSheetBackHandler.ts
  src/navigation/BottomTabs.tsx
  src/navigation/stateNavigators.ts
  src/screens/Home.tsx
  src/screens/Search.tsx
  src/screens/SimplePlayer.tsx
Due: npm run lint, npm run prettier, prettier --write

updated colors and navigatorstates
  src/components/MiniPlayer.tsx
  src/components/PlayerSlider.tsx
  src/navigation/BottomTabs.tsx
  src/navigation/stateNavigators.ts
  src/screens/Home.tsx
  src/screens/Settings.tsx
Due: npm run lint, npm run prettier

update ripple color
  android/app/src/main/res/values/styles.xml
Due: none

remove un-necessary file
  src/screens/SimplePlayer.tsx
Due: npm run lint, npm run prettier

add valtio for state & trackplayer initial playback
  index.js
  package.json
  src/modules/player/playbackService.ts
  src/modules/player/player.helper.ts
  src/modules/player/player.module.ts
  src/modules/player/player.types.ts
  src/screens/Home.tsx
  src/states/playerState.ts
Due: npm run lint, npm run prettier, prettier --write

move player events
  src/modules/player/player.helper.ts
  src/modules/player/player.module.ts
Due: npm run lint, npm run prettier

notification setup & updated Tile & other changes
  src/components/Tile/Tile.tsx
  src/components/TitleSubtitle.tsx
  src/modules/player/player.helper.ts
  src/modules/player/player.module.ts
  src/modules/player/playerOptions.ts
  src/screens/Home.tsx
Due: npm run lint, npm run prettier

updated to trackplayer nightly and metaData feature added
  package.json
  src/modules/player/player.helper.ts
  src/modules/player/player.module.ts
  src/modules/player/player.types.ts
  src/modules/player/playerOptions.ts
  src/screens/Home.tsx
  src/states/playerState.ts
Due: npm run lint, npm run prettier, prettier --write

updated exports
  src/components/index.ts
Due: npm run lint, npm run prettier

downgrade valtio and other minor refactoring
  .eslintrc.json
  package.json
  src/modules/player/playbackService.ts
  src/modules/player/player.helper.ts
  src/modules/player/player.module.ts
  src/modules/player/player.types.ts
  src/screens/Home.tsx
  src/states/player.ts
  tsconfig.paths.json
Due: npm run lint, npm run prettier, prettier --write

introduce sleep timer
  src/modules/player/player.helper.ts
  src/modules/player/player.module.ts
  src/modules/player/player.types.ts
  src/modules/player/playerOptions.ts
  src/screens/Home.tsx
  src/states/player.ts
Due: npm run lint, npm run prettier

hls example added and type update
  src/modules/player/player.helper.ts
  src/modules/player/player.types.ts
  src/screens/Home.tsx
Due: npm run lint, npm run prettier

added volume setting
  package.json
  src/modules/player/player.module.ts
  src/modules/player/player.types.ts
  src/screens/Home.tsx
  src/states/player.ts
Due: npm run lint, npm run prettier, prettier --write

added missing volume slider and other related updates
  src/components/VolumeSlider.tsx
  src/modules/player/player.module.ts
  src/screens/Home.tsx
Due: npm run lint, npm run prettier

valtio to 1.10.7 & other player related changes
  package.json
  src/components/VolumeSlider.tsx
  src/modules/player/player.helper.ts
  src/modules/player/player.module.ts
  src/modules/player/player.types.ts
  src/modules/player/playerOptions.ts
  src/screens/Home.tsx
  src/states/player.ts
Due: npm run lint, npm run prettier, prettier --write

fix slider crash
  src/components/VolumeSlider.tsx
Due: npm run lint, npm run prettier

initial storage module
  package.json
  src/modules/player/player.module.ts
  src/modules/storage/storage.module.ts
Due: npm run lint, npm run prettier, prettier --write

update storage module & minor updates
  App.tsx
  src/components/VolumeSlider.tsx
  src/helpers/intializeConfig.ts
  src/modules/storage/storage.module.ts
  src/screens/Home.tsx
Due: npm run lint, npm run prettier

fix crash
  src/screens/Home.tsx
Due: npm run lint, npm run prettier

added stop method & added object type in Storage.get
  src/modules/player/player.module.ts
  src/modules/storage/storage.module.ts
  src/screens/Home.tsx
Due: npm run lint, npm run prettier

make properties and method private
  babel.config.js
  package.json
  src/modules/player/player.module.ts
  src/modules/storage/storage.module.ts
Due: npm run lint, npm run prettier, prettier --write

update package to latest
  package.json
Due: prettier --write

components, container and other changes
  .eslintrc.json
  .vscode/settings.json
  App.tsx
  android/app/src/debug/AndroidManifest.xml
  android/app/src/main/AndroidManifest.xml
  metro.config.js
  package.json
  src/assets/svgs/arrow_right.svg
  src/assets/svgs/heart.svg
  src/assets/svgs/index.ts
  src/assets/svgs/search.svg
  src/components/PaddedView/PaddedView.tsx
  src/components/SInput/SInput.tsx
  src/components/SInput/sInput.styles.ts
  src/components/SPressable/SPressable.tsx
  src/components/SPressable/sPressable.style.ts
  src/components/SText/SText.tsx
  src/components/SVGIcon/SVGIcon.tsx
  src/components/SView/SView.tsx
  src/components/SView/sView.style.ts
  src/components/SearchBar/SearchBar.tsx
  src/components/SectionHeader/SectionHeader.tsx
  src/components/Tile/Tile.tsx
  src/components/TitleSubtitle.tsx
  src/components/VolumeSlider.tsx
  src/containers/ScreenContainer/ScreenContainer.tsx
  src/containers/SectionContainer/SectionContainer.tsx
  src/containers/TileContainer/TileContainer.tsx
  src/helpers/common.ts
  src/helpers/component.config.ts
  src/helpers/data.config.ts
  src/helpers/intialize.config.ts
  src/navigation/BottomTabs.tsx
  src/screens/Home.tsx
  src/screens/Search.tsx
  src/styles/colors.ts
  src/styles/theme.ts
  src/styles/utilities.ts
  src/types/components.types.ts
  svg.d.ts
Due: npm run lint, npm run prettier, prettier --write

update configs & add recent tile and other updates
  src/assets/static/working_stations.json
  src/components/SearchBar/SearchBar.tsx
  src/components/SectionHeader/SectionHeader.tsx
  src/components/Tile/Tile.tsx
  src/components/TileCard/TileCard.tsx
  src/containers/ScreenContainer/ScreenContainer.tsx
  src/containers/SectionContainer/SectionContainer.tsx
  src/containers/TileCardContainer/TileCardContainer.tsx
  src/containers/TileContainer/TileContainer.tsx
  src/helpers/common.ts
  src/helpers/component.config.ts
  src/screens/Home.tsx
  src/screens/Search.tsx
  src/styles/theme.ts
  src/types/components.types.ts
Due: npm run lint, npm run prettier, prettier --write

imports updated and rearranged
  src/components/SearchBar/SearchBar.tsx
  src/components/index.ts
  src/containers/PaddedView/PaddedView.tsx
  src/containers/ScreenContainer/ScreenContainer.tsx
  src/containers/SectionContainer/SectionContainer.tsx
  src/containers/TileCardContainer/TileCardContainer.tsx
  src/containers/index.ts
  src/navigation/BottomTabs.tsx
  src/navigation/stateNavigators.ts
  src/screens/Home.tsx
  src/screens/ViewAll.tsx
Due: npm run lint, npm run prettier

update miniplayer and other related changes
  App.tsx
  src/assets/svgs/index.ts
  src/assets/svgs/play_circle.svg
  src/assets/svgs/stop.svg
  src/components/Image/SImage.tsx
  src/components/MiniPlayer.tsx
  src/components/PlayerSlider.tsx
  src/components/SVGIcon/SVGIcon.tsx
  src/containers/TileCardContainer/TileCardContainer.tsx
  src/helpers/common.ts
  src/helpers/validators.ts
  src/modules/player/player.module.ts
  src/navigation/BottomTabs.tsx
  src/screens/Home.tsx
  src/types/components.types.ts
Due: npm run lint, npm run prettier

updated mini player styles and added buffering state
  src/components/MiniPlayer.tsx
Due: npm run lint, npm run prettier

fix mini player not showing up initially
  src/components/MiniPlayer.tsx
  src/modules/player/player.module.ts
Due: npm run lint, npm run prettier

fix input text color
  src/assets/static/working_stations.json
  src/components/SInput/SInput.tsx
  src/components/SearchBar/SearchBar.tsx
Due: npm run lint, npm run prettier, prettier --write

update miniplayer styling
  src/components/MiniPlayer.tsx
  src/styles/utilities.ts
Due: npm run lint, npm run prettier

extended player initial & other changes
  src/assets/svgs/arrow_down.svg
  src/assets/svgs/backward_10.svg
  src/assets/svgs/forward_10.svg
  src/assets/svgs/heart_fill.svg
  src/assets/svgs/index.ts
  src/assets/svgs/more.svg
  src/assets/svgs/next_play.svg
  src/assets/svgs/play.svg
  src/assets/svgs/play_circle.svg
  src/assets/svgs/prev_play.svg
  src/assets/svgs/share.svg
  src/assets/svgs/sleep.svg
  src/assets/svgs/stop_circle.svg
  src/components/Chip/Chip.tsx
  src/components/MiniPlayer.tsx
  src/components/PlayerExtended.tsx
  src/components/PlayerSlider.tsx
  src/components/SVGIcon/SVGIcon.tsx
  src/components/SearchBar/SearchBar.tsx
  src/components/SectionHeader/SectionHeader.tsx
  src/components/Tile/Tile.tsx
  src/components/TileCard/TileCard.tsx
  src/components/TitleSubtitle.tsx
  src/helpers/component.config.ts
  src/styles/theme.ts
  src/types/components.types.ts
Due: npm run lint, npm run prettier

added button component & import rearrangement
  src/components/Button.tsx
  src/components/PlayerExtended.tsx
  src/components/SText/SText.tsx
  src/components/SVGIcon.tsx
  src/components/SearchBar.tsx
  src/components/SectionHeader/SectionHeader.tsx
  src/components/Tile.tsx
  src/components/TileCard.tsx
  src/components/TitleSubtitle.tsx
  src/components/index.ts
  src/helpers/component.config.ts
  src/screens/Home.tsx
  src/screens/Search.tsx
Due: npm run lint, npm run prettier

pass snapshot data from PlayerSlider to player extended
  src/components/MiniPlayer.tsx
  src/components/PlayerExtended.tsx
  src/components/PlayerSlider.tsx
Due: npm run lint, npm run prettier

update padding for the bottom actions
  package.json
  src/components/PlayerExtended.tsx
Due: npm run lint, npm run prettier, prettier --write

update packages to latest
  package.json
Due: prettier --write

fix heading text overflow
  src/components/PlayerExtended.tsx
Due: npm run lint, npm run prettier
